*, :after, :before {
	box-sizing: border-box;
	background-color: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: $family-sans, sans-serif;
	-webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
	line-height: 1.5;
	font-size: 1rem;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	color: $grey-darkest;
}

nav ul {
  border-right: 1px solid $grey;
	overflow: auto;
}

a {
  color: $secondary;
	background: none;
  text-decoration-skip-ink: auto;
  text-decoration: underline;
	text-decoration-color: $primary;

	&:focus {
    outline: thin dotted;
	}

	&:hover, &:active {
		outline: 0;
		text-decoration: underline wavy;
		text-decoration-color: $primary;
	}
}

pre {
	margin: .5rem 0;
	padding: .5rem;
}

i {
	font-display: swap;
}

.post {
	p {
		margin: .5rem 0;
		text-align: justify;
	}

	h1, h2, h3, h4 {
		margin: 1rem 0;
	}

	h2:first-child, h2:first-child, h2:first-child {
		margin-top: 0;
	}

	ul {
		list-style-type: square;

		ul {
			list-style-type: disc;
			padding-left: 1rem;

			ul {
				list-style-type: circle;
				padding-left: 1rem;
			}
		}
	}

	ol {
		list-style-type: decimal;

		ol {
			list-style-type: lower-alpha;
			padding-left: 1rem;

			ol {
				list-style-type: lower-roman;
				padding-left: 1rem;
			}
		}
	}
}

.meta {
	margin: 2rem 0;
}

code, pre {
	background: $background-secondary;
}

code {
	padding: .1rem;
	font-family: $family-mono, monospace;
}

pre {
	padding: 1rem;
	overflow-x: auto;

	code {
		border: none;
	}
}

img {
	max-width: 100%;
}

hr {
  border: 0;
	border-bottom: 1px solid $grey;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -0.25rem;
}

header {
	flex-basis: 10rem;
	flex-grow: 1;
	position: relative;

	a {
		display: block;
		text-decoration: none;

		&.active {
			font-weight: bold;
		}
	}

	li {
		float: right;
		list-style: none;
		margin-bottom: .2rem;
		margin-right: 2rem;
	}
}

header, section {
	padding: 1rem;
}

blockquote {
	font-style: italic;
  border-left: 5px solid $background-secondary;
  padding-left: 1rem;
}

h1, h2, h3, h4, h5 {
	line-height: 1;
	margin: 1rem 0;
	font-weight: 600;
}

h1 + .subtitle, h2 + .subtitle, h3 + .subtitle, h4 + .subtitle, h5 + .subtitle {
	font-weight: 400;
	font-size: .8rem;
	margin-top: -.8rem;
  font-style: italic;
	padding-left: 2rem;
}

section h1:first-child {
	margin-top: 0;
}

strong, b {
	font-weight: bold;
}

div.text {
	&-center {
		text-align: center;
		margin-bottom: 1rem;
		margin-top: .5rem;
	}

	&-justify {
		text-align: justify;
	}

	&-flushright {
		display: block;
		text-align: right;
		max-width: 50%;
	}

	&-flushleft {
		text-align: left;
		max-width: 50%;
	}
}

.titlepage {
	display: flex;
	flex-direction: row-reverse;
	margin: 2rem 0;
}

div.page-break {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

ol.articles {
	&.start {
		counter-reset: articles 0;
	}

	& > li {
		counter-increment: articles;
		list-style: none;

		& > p::before {
			content: "Art. " counter(articles);
			display: inline-block;
			font-weight: bold;
			margin-left: -1rem;
			margin-right: 1rem;
		}

		.parsection span {
			display: inline-block;
			font-weight: bold;
			margin-right: .5rem;

			&.parnum::before {
				content: "§ ";
			}

			&.parunq::before {
				content: "Parágrafo único.";
			}
		}
	}
}

.photos {
	ul {
		list-style: none;
	}

	li {
		margin-bottom: 1.5rem;
	}
}

.photo picture, .project picture {
	margin-bottom: .5rem;
}

.posts {
	ul, header ul {
		list-style: none;
	}

	li {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: .5rem;
	}
}

.posts li a, .posts li div, .projects li a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: none;
}

.posts li time, .projects li time {
	padding-left: 1rem;
	white-space: nowrap;
	font-variant-numeric: tabular-nums;
}

.downfile + *:not(.downfile) {
  margin-top: 2rem;
}

.textbox {
	background-color: $background;
	margin: 1rem 0;
	padding: 1rem;
	border: 1px solid $background-secondary;
	border-radius: .25rem;

	&.quote {
		color: $grey-dark;
		font-family: $family-serif, serif;
		margin-left: 2rem;
		margin-right: 2rem;
		border: none;
		border-radius: 0pt;
		border-left: .25rem solid $grey-dark;

		.quote-author {
			font-size: .9rem;
			text-align: right;
			margin-right: 1rem;
		}

		.quote-left, .quote-right {
			font-size: .5rem;
		}

		.quote-left {
			vertical-align: top;
		}

		.quote-right {
			vertical-align: super;
		}
	}

	&.info {
		color: $info-dark;
		background-color: $info;
		border: none;
	}

	&.warning {
		color: $warning-dark;
		background-color: $warning;
		border: none;
	}

	&.question {
		color: $question-dark;
		background-color: $question;
		border: none;
	}

	&.cancel {
		color: $cancel-dark;
		background-color: $cancel;
		border: none;
	}

	&.ok {
		color: $ok-dark;
		background-color: $ok;
		border: none;
	}
}

#search-container {
	max-width: 100%;
}

input[type=text] {
	font-size: normal;
	outline: none;
	padding: 1rem;
	background: $background;
	width: 100%;
	appearance: none;
	-webkit-appearance: none;
	font-family: inherit;
	font-size: 100%;
	border: none;
}

#results-container {
	margin: .5rem 0;
	list-style-type: none;
}

main {
	display: flex;
	flex-wrap: wrap;
	max-width: 60rem;
	margin: 2rem auto;
	padding: 1rem;

	hr + table, hr + ul, hr + ol {
		margin: 1rem 0;
	}

	.post hr + p {
		margin-top: 1rem;
	}
}

footer {
	margin: 2rem auto;
	padding: 1rem;
	text-align: center;
	font-size: small;
}

.logo {
	width: 100%;
	margin: 0 auto;
	padding: 1rem;
}

@media screen and (max-width: 45rem ) {
	header li {
		display: inline;
		margin-right: 1rem;
	}

	header ul {
		border-bottom: 1px solid $grey;
		padding-bottom: 2rem;
	}

	nav ul {
		border-right: 0px;
	}

	.logo {
		padding: 2rem;
	}

	.photos ul {
		margin-top: .5rem;
	}
}

section {
	flex-basis: 0;
	flex-grow: 999;
	min-width: 70%;
	display: flex;
	flex-direction: column;
}

figcaption {
  font-size: smaller;
	text-align: center;
	margin-top: .5rem;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}
